{% load static %}
<aside>
        <img src="{% static 'catalog/img/shop.png' %}" alt="logo">
        <span class="logo">Shop</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}">
                <li>
                    <i class="fa-solid fa-house"> Главная </i>
                </li>
            </a>

            <a href="{% url 'contacts' %}">
                <li>
                    <i class="fa-regular fa-paper-plane"> Контакты </i>
                </li>
            </a>
        </ul>
</aside>