{% load static %}
{% load catalog_tags %}
<div class="col-lg-3 mb-2 mt-2">
    <div class="features">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{ product }}</h4>
                <h5 class="card-text"> {{ product.category }} </h5>
                <img src="{{ product.preview_icon|my_media }}"
                     alt="{{ product.product_name }}" class="img-fluid"
                     width="150px" height="100px">
                <p class="card-text">{{ product.product_description }}</p>
                <p>Price: {{ product.price }}</p>
                    {% if product.active_version %}
                        Версия {{ product.active_version.name_version }} № {{ product.active_version.number_version }}
                    {% endif %}
                <a href="{% url 'catalog:product_detail' product.id %}"
                   class="btn btn-success" style="width: 100%;">Подробнее о товаре</a>
                {% if product.owner %}
                <p> Автор - {{ product.owner }} </p>
                {% else %}
                <p> Автор отсутствует </p>
                {% endif %}
                {% if perms.catalog.change_product %}
                <a href="{% url 'catalog:update_product' product.id %}"
                   class="btn btn-warning mb-1 mt-1">Редактировать</a>
                {% endif %}
                {% if perms.catalog.delete_product %}
                <a href="{% url 'catalog:delete_product' product.id %}"
                   class="btn btn-danger mb-1 mt-1">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

