{% load static %}
<aside>
    <h3>Навигация</h3>
    <div class="container">
        <img src="{% static 'catalog/img/shop.png' %}" alt="logo">
    </div>
    <div class="container">
        <span class="logo"> * * * <br> On-line <br> Shop <br> * * * <br></span>
        <br>
    </div>
    <ul>
        <li>
            <a href="{% url 'catalog:home' %}">
                <i class="fa-solid fa-house"> Главная </i></a>
        </li>
        <li>
            <a href="{% url 'blog:list' %}">
                <i class="fa-solid fa-newspaper"> Статьи </i></a>
        </li>
        <li>
            <a href="{% url 'blog:create' %}">
                <i class="fa-solid fa-pen-nib"> Добавить статью </i></a>
        </li>
        <li>
            <a href="{% url 'catalog:contacts' %}">
                <i class="fa-regular fa-paper-plane"> Контакты </i></a>
        </li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'users:profile' %}">
                <i class="fa-solid fa-user-tie"> Профиль </i></a></li>
        <li><a href="{% url 'users:logout' %}">
                <i class="fa-solid fa-person-walking-arrow-right"> Выйти </i></a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}">
                <i class="fa fa-user-circle"> Войти </i></a></li>
        <li><a href="{% url 'users:register' %}">
                <i class="fa-solid fa-user-check"> Регистрация </i></a></li>
        {% endif %}
    </ul>
</aside>