{% load static %}
<aside>
    <h3>Навигация</h3>
    <div class="container">
        <img src="{% static 'catalog/img/shop.png' %}" alt="logo">
    </div>
    <div class="container">
        <span class="logo"> * * * <br> On-line <br> Shop <br> * * * <br></span>
        <br>
    </div>
    <ul>
        <a href="{% url 'home' %}">
            <li>
                <i class="fa-solid fa-house"> Главная </i>
            </li>
        </a>
        <a href="{% url 'blog:list' %}">
            <li>
                <i class="fa-solid fa-newspaper"> Статьи </i>
            </li>
        </a>
        <a href="{% url 'blog:create' %}">
            <li>
                <i class="fa-solid fa-pen-nib"> Добавить статью </i>
            </li>
        </a>
        <a href="{% url 'contacts' %}">
            <li>
                <i class="fa-regular fa-paper-plane"> Контакты </i>
            </li>

        </a>
    </ul>
</aside>