{% extends 'catalog/base.html' %}

{% block title_content %}Контакты{% endblock %}

{% block body_content %}
    <div class="features">
        <h1>Контакты</h1>
        {{ products }}
        <p>Оставьте ваши контактные данные для связи,
            и мы обязательно с вами свяжемся!</p>
        <br>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Введите Ваше имя"/><br>
            <input type="email" name="email" placeholder="Введите Вашу почту"/><br>
            <textarea name="message" placeholder="Введите сообщение"></textarea><br>
            <br>
            <input type="submit" class="btn btn-primary" value="Отправить" />
        </form>
    </div>
{% endblock %}
