{% extends 'catalog/base.html' %}

{% block body_content %}
<div class="row mt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                {% if product %}
                    Изменение товара
                {% else %}
                    Добавление товара
                {% endif %}
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        {% if product %}
                            Изменить позицию
                        {% else %}
                            Добавить позицию
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}