{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block title_content %} Страница товара {% endblock %}

{% block body_content %}

<h1>Карточка товара</h1>
<p>Описание товара</p>
<img src="{{ product.preview_icon|my_media }}" alt="{{ product.product_name }}"
class="img-fluid" width="300px" height="200px">
<br>
<h1>{{ product.product_name }}</h1>
<p>{{ product.product_description }}</p>
<p>Категория: {{ product.category }}</p>
<p>Цена: {{ product.price }} ₽</p>
<p>Добавлен: {{ product.data_created }}</p>
<p>
    {% if product.active_version %}
    <small class="text-body-secondary mb-2 mt-2">
        Версия {{ product.active_version.name_version }} № {{ product.active_version.number_version }}
    </small>
    {% endif %}
</p>
<a  class="btn btn-success"
        href="{% url 'catalog:home' %}">К списку товаров</a>
{% endblock %}
